.col-pai{
    background: #333;
    color: #fff;
    margin-bottom: 20px;
    padding: 15px 30px;
    margin-top: 30px;
}
.col-pai .row-1{
    margin-bottom: 20px;
}
.col-filho{
    background: #444;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}
.col-irmao{
    background: #555;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}